#canvas {
    margin: auto;
    width: 40%;
}

#myCanvas {
    background-color: aliceblue;
}

canvas {
    border: #333 10px solid;
    margin: 0px;
    position: absolute;
    border: 5px solid black;
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    margin: 0px;
}

p {
    font-family: fantasy;
    text-align: center;
    color: aliceblue;
}

body {
    background-color: dimgray;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

#start {
    margin-top:550px;
    position: absolute;
    background-color: aliceblue;
    color: dimgray;
    padding: 7px 16px;
    border: 2px solid black;
}