.mouthsmash-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

video {
  margin: 0px;
  position: absolute;
  border: 2px solid black;
  background-color: black;
}

canvas {
  margin: 0px;
  position: absolute;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  color: aliceblue;
}

body {
  background-color: dimgray
}
